:host {
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  background: #d23f31;
  text-align: center;
  outline: none;
  border-radius: 28px;
  padding: 16px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

:host(.mini) {
  border-radius: 20px;

}

.paper-shadow-bottom {
  border-radius: 28px;
}

.host(.mini) {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
}

core-icon::shadow path {
  fill: #fff;
}